.output{
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #212121;
    height: 180px;  
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

.previous-operand{
    color: #999; 
    font-size: 1.5rem;
}

.current-operand{
    color: #fff;
    font-size: 2.3rem;
}

.row{
    display: flex;
}


button{
    font-size: 2.8rem;
    outline: none;
    border: none;
    width: 110px;
    height: 100px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.btn-secondary {
    background-color: #8d52dd;
    color: #fff;
  }

button:hover {
    filter: brightness(0.9);
}

button:active {
    filter: brightness(0.8);
    font-size: 2.5rem;
  }
